---
layout: default
---
{% if page.overlay != nil %}

{% if page.overlay == "red" %}{% assign overlay = "rgba(255,0,100," %}{% endif %}
{% if page.overlay == "blue" %}{% assign overlay = "rgba(0,100,255," %}{% endif %}
{% if page.overlay == "green" %}{% assign overlay = "rgba(100,255,0," %}{% endif %}
{% if page.overlay == "purple" %}{% assign overlay = "rgba(100,0,255," %}{% endif %}
{% if page.overlay == "orange" %}{% assign overlay = "rgba(255,100,0," %}{% endif %}

{% else %}
{% assign overlay = "rgba(0,0,0,.8)" %}
{% endif %}

{% assign opacity = "0.8)" %}

<style>
.heading-container h1{ 

color: {{ overlay }}{{ opacity }};

}
</style>

<div class="page" markdown="1">

{% include page/title.html title=page.title subtitle=page_subtitle %}

{{ content }}

</div>