---
layout: default
---
{% include utils/hero.html %}

<!-- page title (& hero image) container -->
  <div class="page-title-container
  {% if site.blog.hero_layout == true %}
  {{ page.url | remove: '/pages/' }} {{ page.url | remove: '/pages/' }}-bleed-container bleed-hero-container
    {% else %}
  no-hero-margin
  {% endif %}">
    <!--page hero image source-->
    {% if site.blog.hero_layout == true %}
      {% if page.source-img %}
      <div class="page-source-img">
        <span class="source-text">source: </span>
        <span class="source"><a href="{{ page.source-img }}">{{ page.source-img }}</a></span>
      </div>
      {% endif %}
    {% endif %}
    <!-- page title -->
    <div class="heading-container {% if site.blog.hero_layout == true %}hero-heading hero-heading-page{% endif %}">
      <h1>
        {% if page.link != nil %}
        <a href="{{ page.link }}" title="{{ page.title }}" target="_blank">
        {% endif %}
          {{ page.title }}
        {% if page.link != nil %}
        &rarr; </a>
        {% endif %}
      </h1>
	  


{{ content }}
